footer.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    color: rgb(96, 96, 96);
    padding-right: 10px;
}
