header.header {
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    background-color: black;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90px;
}

img.logo {
    width: 200px;
    margin-left: 30px;
}

div.title {
    color: white;
    align-items: center;
    flex-grow: 3;
    font-size: 3rem;
    font-weight: 300;
}

.title > i {
    font-size: 2rem;
}