.etapas {
    text-decoration: none;
    list-style-type: none;
}

table {
    background-color: olive;
}

table td {
    background-color: aliceblue;
    padding: 8px;
    font-size: 1.1rem;
}

table {
    width: 900px;
    text-align: center;

}

table thead {
    background-color: rgb(80, 72, 63);
    color: white;
    font-size: 1.2rem;
    font-weight: 100;
    border: 10px olive solid;
}


.form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh 0px 0px 0px;
}

.back-button {
    display: flex;
    justify-content: flex-end;
}

.back-button > a > button {
    background-color: white;
    border-radius: 8px;
}


.row {
    width: 800px
}

label {
    font-size: 2rem;
}
.form-control {
    width: 100%;
    font-size: 1.2rem;
}

button {
    background-color: white;
    border-radius: 8px;
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    justify-content: center;

}
.row-button {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4vh;
}

.label-etapas {
    font-size: 1.17rem;
    padding: 6px;

}

.form-group-etapas {
    margin: 20px 6%;
    padding: 18px;
    background-color: palegreen;
    border-radius: 30px;
    display: block;
    flex-direction: column;
    
}


.etapa-row {
    display: flex;
    align-items: center;
    margin: 0px 20px 10px;
}

.etapa-delete-button {
    margin: 2px;
    background-color: white;
    border-radius: 0px;
    font-size: 1rem;
}

.btn-etapas-load {
    background-color: white;
    font-size: 0.6rem;
    margin: 0px 5px;
}

.btn-etapas-remove {
    background-color: white;
    font-size: 0.6rem;
    margin-left: -3px
}

.form-element {
    display: flex;
    flex-direction: column;
    height: 100%;
}



.obj-input {
    margin: 20px 0px;
    font-size: 1.6rem;
}

.etapa-list {
    margin-top: 12px
}