* {
  margin: 0;
}
.container {
  background-color: rgb(14, 29, 18);
  /* display: flex;
  justify-content: center; */
}

.App {
  background-color: rgb(11, 82, 11);
  height: 100%;
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: 1fr 4vh;
  grid-template-areas: 
      "menu main"
      "menu footer";

  max-width: 100%;
  
  
}